<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="CS Tutorials">
    <meta property="og:description" content="And other ramblings">
    <meta property="og:image"
        content="https://cdn.discordapp.com/attachments/595772150078767106/918057554368667668/Untitled-1.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <link rel="stylesheet" href="https://stackedit.io/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='tuts.css')}}" />
    {% if 'dark' == theme %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css')}}" />
    {% elif 'light' == theme %}
    <link rel="stylesheet" href="{{ url_for('static', filename='light.css')}}" />
    {% endif %}
    <style>
        #tutorial-main {
            display: flex;
            flex-direction: row;
        }

        #slides {
            margin-left: 30px;
        }

        #slides>p>* {
            text-decoration: none;
            color: inherit;
        }

        #slides>p>*:hover {
            filter: brightness(0.8);
        }

        hr {
            margin: 0;
        }

        .unclickable {
            user-select: none;
        }
    </style>
    <title>Home</title>
</head>

<body class="stackedit">
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <div class="stackedit__html {{size}}">
        <span id="theme-toggler" onclick="toggleTheme()">Toggle Theme</span>
        <br>
        <span id="size-toggler" onclick="toggleSize()">Toggle Size</span>
        <img src="{{ url_for('static', filename='images/lain1.jpg')}}" alt="lain" width=500 id="top-image-index">
        <pre class=" language-markdown"><code class="prism  language-markdown"><span class="token list punctuation">+</span> Tutorials for APCS Students, WIP
</code></pre>
        <div id="tutorial-main">
            <div id="lessons">
                <span class="unclickable">Lessons</span>
                <hr>
                <p>
                    <a href="./java/0" class="no-link-style">Lesson 0 - Preface</a><br>
                    <a href="./java/1" class="no-link-style">Lesson 1 - Hello World</a><br>
                    <a href="./java/2" class="no-link-style">Lesson 2 - Data Types</a><br>
                </p>
            </div>
            <div id="slides">
                <span class="unclickable">Slides</span>
                <hr>
                <p>
                    <a href="{{ url_for('static', filename='ppts/AP0-1.pptx')}}">AP0-1 - Welcome Slide</a><br>
                    <a href="{{ url_for('static', filename='ppts/AP1-1.pptx')}}">AP1-1 - An Intro to Programming</a><br>
                    <a href="{{ url_for('static', filename='ppts/AP2-1.pptx')}}">AP2-1 - Print Statements</a><br>
                    <a href="{{ url_for('static', filename='ppts/AP3-1.pptx')}}">AP3-1 - Variables and Primitive
                        Types</a><br>
                    <a href="{{ url_for('static', filename='ppts/AP4-1.pptx')}}">AP4-1 - User Input and Java
                        Libraries</a><br>
                </p>
            </div>
        </div>
        <hr>
        <a href="#theme-toggler" class="no-link-style" id="return-to-top">return to top</a>

    </div>
    <script src="{{ url_for('static', filename='themeToggler.js')}}"></script>
    <script src="{{ url_for('static', filename='sizeToggler.js')}}"></script>
    <script src="{{ url_for('static', filename='scrollBar.js')}}"></script>
</body>

</html>